<nav>
	 <ul>
		  <li><i class="fa fa-home"> </i><a href="{{ .Site.BaseURL }}">Home</a></li>
		  <li><i class="fa fa-user"> </i><a href="{{ .Site.BaseURL }}about">About</a></li>
		  <li><i class="fa fa-bar-chart"> </i><a href="{{ .Site.BaseURL }}research">Research</a></li>
		  <li><i class="fa fa-book"> </i><a href="{{ .Site.BaseURL }}publications">Publications</a></li>
		  <li><i class="fa fa-folder"> </i><a href="https://tijeco.github.io" rel="noopener noreferrer" target="_blank">Projects</a></li>
		  <li><i class="fa fa-pencil"> </i><a href="http://www.blog.tijeco.info" rel="noopener noreferrer" target="_blank">Blog</a></li>
	 </ul>
</nav>
