<div id="face" class="namebox-face">
	 <!-- <h1 style="position:fixed;"> tijeco</h1> -->
	 <!-- <h1> T. Jeffrey Cole</h1>
	<h2> Ph.D. student, East Carolina University</h2>
	<h3>Bioinformatics and Evolutionary Genomics</h3>
	<button class="button button5">ABOUT ME</button> -->
	 <img src="{{ .Site.BaseURL }}images/face1.jpeg"></img>

	 <span class="text">


	<span class="pal white">{</span>
	 <span class="pal">timothy</span>
	 <span class="pal">jeffrey </span>
	 <span class="pal">cole</span>

	 <span class="pal white">}</span>
	 <br />

	 </span>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	 <script>
		  $(".text").hover(function() {
				$(".pal").toggleClass("palHover");
		  });



		  //# sourceURL=pen.js
	 </script>
</div>
