{{ partial "head.html" . }}
<body>





    <input type="checkbox" class="toggle-nav" id="toggle-nav">
    <div class="mobile-bar">
        <label for="toggle-nav"></label>
    </div>

    <div class="container">


        <header class="header">
            <div class="profile">
                <img src="/images/face1.jpeg"></img>
                <h2 style="font-weight:400;">tijeco</h2>
                <h2 style="font-weight:100;color:grey;">T. Jeffrey Cole</h2>
            </div>
            {{ partial "nav.html" . }}

        </header>

        {{ partial "profile.html" . }}

        <section class="content">


            <div class="paper">
                <!-- <h1 style="text-align:center">Welcome</h1> -->

                {{ .Content }}
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, deserunt eum modi voluptate laboriosam voluptates facere quo eius ullam est quas, facilis obcaecati! Commodi eveniet repellat omnis! Molestiae, aperiam, vel!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, deserunt eum modi voluptate laboriosam voluptates facere quo eius ullam est quas, facilis obcaecati! Commodi eveniet repellat omnis! Molestiae, aperiam, vel!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, deserunt eum modi voluptate laboriosam voluptates facere quo eius ullam est quas, facilis obcaecati! Commodi eveniet repellat omnis! Molestiae, aperiam, vel!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, deserunt eum modi voluptate laboriosam voluptates facere quo eius ullam est quas, facilis obcaecati! Commodi eveniet repellat omnis! Molestiae, aperiam, vel!</p> -->
            </div>
        </section>

        {{ partial "footer.html"     . }}
    </div>

</body>



</html>
